<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxUywhS193OMZ59So_MuUie0gFsCyOyoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>473546218661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fud.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fudbd-6bec5</string>
	<key>STORAGE_BUCKET</key>
	<string>fudbd-6bec5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473546218661:ios:a61d5e9e7fa86d5455414c</string>
</dict>
</plist>